{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h2 class="text-center">Добро пожаловать в каталог фильмов!</h2>
    <h2 class="text-center">Всего фильмов в базе - {{ result.count }}</h2>
{% endblock %}



